# Practice Notebook â€” Lists, Tuples, and Dictionaries

This notebook contains **10 very simple practice questions** based on what you learned about Lists, Tuples, and Dictionaries. Each question follows the structure:
1. **Instructions** (Markdown)
2. **Code cell** with blank area to fill in
3. **Expected Answer** (Markdown)

Try to solve before checking the expected answer! ðŸš€

## Question 1 (List)

Create a list of 3 fruits: `'apple'`, `'banana'`, `'cherry'` and print it.

In [ ]:
# Your code here

**Expected Answer:**
```python
['apple', 'banana', 'cherry']
```

## Question 2 (List)

Take the list `numbers = [1, 2, 3, 4]`. Append the number `5` to the end and print the updated list.

In [ ]:
numbers = [1, 2, 3, 4]
# Your code here

**Expected Answer:**
```python
[1, 2, 3, 4, 5]
```

## Question 3 (List)

From the list `colors = ['red','green','blue']`, remove `'green'` and print the result.

In [ ]:
colors = ['red','green','blue']
# Your code here

**Expected Answer:**
```python
['red', 'blue']
```

## Question 4 (Tuple)

Create a tuple with 3 numbers: `10, 20, 30` and print it.

In [ ]:
# Your code here

**Expected Answer:**
```python
(10, 20, 30)
```

## Question 5 (Tuple)

Given `t = (5, 10, 15)`, print the second element (index 1).

In [ ]:
t = (5, 10, 15)
# Your code here

**Expected Answer:**
```python
10
```

## Question 6 (Tuple)

Given `t = (1, 2, 3)`, convert it into a list, change the last element to `99`, and print the new list.

In [ ]:
t = (1, 2, 3)
# Your code here

**Expected Answer:**
```python
[1, 2, 99]
```

## Question 7 (Dictionary)

Create a dictionary with keys `'name'` and `'age'`, values `'Alice'` and `25`. Print the dictionary.

In [ ]:
# Your code here

**Expected Answer:**
```python
{'name': 'Alice', 'age': 25}
```

## Question 8 (Dictionary)

Given `student = {'name':'Bob', 'score':90}`, update the score to `95` and print the dictionary.

In [ ]:
student = {'name':'Bob', 'score':90}
# Your code here

**Expected Answer:**
```python
{'name': 'Bob', 'score': 95}
```

## Question 9 (Dictionary)

Given `d = {'a':1, 'b':2, 'c':3}`, print all the keys of the dictionary.

In [ ]:
d = {'a':1, 'b':2, 'c':3}
# Your code here

**Expected Answer:**
```python
['a', 'b', 'c']
```

## Question 10 (Mix)

You are given a list of tuples: `students = [('Alice', 85), ('Bob', 90)]`. Convert it into a dictionary where name is the key and score is the value. Print the dictionary.

In [ ]:
students = [('Alice', 85), ('Bob', 90)]
# Your code here

**Expected Answer:**
```python
{'Alice': 85, 'Bob': 90}
```